<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Listeners.Listeners">
		</listener>
	</listeners>
	<test thread-count="5" name="Program">
		<classes>
			<class name="testcases.Program" />
		</classes>
	</test>

	<test thread-count="5" name="Login">
		<classes>
			<class name="testcases.Login" />
		</classes>
	</test>

</suite> <!--
Suite -->
